.container {
  min-width: 400px;
  min-height: 300px;
  margin: 70px auto;
  padding: 0 25px;
  background: #00427b;
  border-radius: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0 0 10px #FFFFFF;
          box-shadow: 0 0 10px #FFFFFF;
  z-index: 5;
  font-family: Caveat;
}

.title {
  font-family: Caveat;
  font-size: 30px;
  font-weight: 700;
  color: #FFFFFF;
}

.link {
  font-family: Caveat;
  font-size: 20px;
  font-weight: 700;
  color: #090808;
}
.link:hover {
  color: #FFFFFF;
}

.massege {
  font-family: Montserrat;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  color: #FFFFFF;
}

div[data-theme=hulk] .container {
  background: #40942D;
}

.input {
  padding: 5px 10px 5px;
  min-height: 40px;
  background: white;
  border-radius: 5px;
  font-family: Caveat;
  font-size: 20px;
  letter-spacing: 2px;
  color: black;
  -webkit-box-shadow: 0 0 5px #00427b;
          box-shadow: 0 0 5px #00427b;
  min-width: 100%;
}
.input:focus {
  -webkit-box-shadow: 0 0 10px #FBFCDC;
          box-shadow: 0 0 10px #FBFCDC;
}

.label {
  text-transform: uppercase;
  font-size: 20px;
  font-family: Caveat;
  color: white;
  display: block;
}

@media screen and (max-width: 464px) {
  .container {
    min-width: 300px;
  }
}